.Toastify__toast {
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 10px !important;
  padding: 0 !important;
}
.Toastify__toast-theme--light {
  background-color: transparent !important;
  border-radius: 10px !important;
  padding: 0 !important;
}
.Toastify__toast-body {
  border-radius: 10px !important;
}
